<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/houseCreator" method="post">
    <p>City: </p><input type="text" name="city">
    <p>Meters: </p><input type="number" name="meters"><span>m^2</span>
    <p>Price: </p><input type="text" name="price">
    <p>Street: </p><input type="text" name="street">
    <input type="submit">
</form>
</body>
</html>